/* Global */
* {
  box-sizing: border-box;
}
html {
  height: -webkit-fill-available;
}
a:link,
a:visited {
  font-weight: 400;
  text-decoration: none;
  color: #222222;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
.nav-link {
  margin-right: 32px;
}

.nav-link:hover {
  font-weight: 600;
}

#tombol {
  border-radius: 2px;
  background: #5cb85f;
  color: white;
}
#tombol:hover {
  background: #11582c;
  color: white;
}

.hero,
.service,
.usp,
.testi,
.faq,
.footer {
  padding-top: 10%;
}

.faq .accordion-header {
  margin-bottom: 5px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.faq .accordion-item {
  border: none;
}

.banner {
  margin-top: 10%;
  background: #0d28a6;
  padding-top: 10%;
  padding-bottom: 10%;
}

.footer .sosmed-icon {
  margin-right: 5%;
  width: 32px;
}

.owl-item .row {
  background-color: #f1f3ff;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
.owl-item .rating-stars {
  padding-bottom: 14px;
}

.btns {
  display: table;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.customNextBtn,
.customPreviousBtn {
  border: 1px solid #c4c4c4;
  width: 32px;
  height: 32px;
  /* padding: 1rem; */
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.customNextBtn:hover,
.customPreviousBtn:hover {
  background-color: #5cb85f;
  border: none;
}

.customNextBtn:hover span,
.customPreviousBtn:hover span {
  color: white;
  display: block;
}

.customNextBtn span,
.customPreviousBtn span {
  padding-top: 3px;
  padding-left: 2px;
  display: inline-block;
}
#user {
  width: 25%;
}

#cover {
  width: 100%;
  height: 200px; /* Ubah nilai height sesuai kebutuhan */
  object-fit: cover;
  object-position: center;
}

#banner {
  width: 900px;
  height: 650px; /* Ubah nilai height sesuai kebutuhan */
  object-fit: cover;
  object-position: center;
}

#biru {
  background-color: #0d28a6;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 120px;
}
p {
  margin-bottom: 0 !important;
}

#nyala {
  background-color: rgba(255, 255, 255, 0.3);
}
#sudi {
  background-color: #cfd4ed;
}
#utama {
  margin: 0;
  padding: 0;
  height: 100%;
}
#hapus {
  border-color: #fa2c5a;
  color: #fa2c5a;
  padding-left: 10%;
  padding-right: 10%;
}

#edit {
  background-color: #5cb85f;
  color: white;
  border: none;
  padding-left: 15%;
  padding-right: 15%;
}

#sidebar-nav {
  width: 250px;
}

#tombol {
  background-color: #0d28a6;
  border-color: #0d28a6;
  color: white;
}

#disableButton {
  color: #aeb7e1;
  border-color: #aeb7e1;
  background-color: white;
  margin-left: 10px;
}

#ableButton {
  color: #0d28a6;
  border-color: #0d28a6;
  background-color: #cfd4ed;
}

#cancel {
  border-color: #0d28a6;
  color: #0d28a6;
}

#save {
  background-color: #0d28a6;
  color: white;
  border: none;
}

.row {
  margin-right: 0px !important;
}

@media screen and (max-width: 430px) {
  nav {
    padding-right: 0px;
  }
  .hero,
  .service,
  .usp,
  .testi {
    padding-top: 15%;
  }
  .hero,
  .service {
    padding-right: 0px;
  }
  .hero .hero-gambar {
    padding-top: 5%;
  }
  .hero {
    padding-left: 0px;
  }
  .service-gambar {
    padding-bottom: 5%;
  }
  .list-check .row {
    margin-top: 10px;
  }
  #card-usp {
    margin-top: 2%;
  }
  .owl-item .rating-stars {
    margin: auto;
    padding-bottom: 14px;
    padding-top: 14px;
  }
  .judul-banner {
    padding-left: 30px;
    padding-right: 30px;
  }
  #user {
    width: 40%;
  }
  .footer .sosmed-icon {
    width: 20px;
    margin-right: 5px;
  }
}
